<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
    <header>
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('index') }}" class="navbar-item">
                                На головну
                            </a>
                            <a href="{{ url_for('adminpanel') }}" class="navbar-item">
                                Адмін-панель
                            </a>                            
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                Авторизація
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>